{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">

    <h1>Create Post</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <div class="btn-container">
            <input
                class="submit-btn"
                type="submit"
                value="Create Post"
            >

            <input
                class="submit-btn"
                type="submit"
                value="Cancel"
                onclick="window.location.href=`{% url 'user-detail' user.id %}`;return false;"
            >
        </div>
    </form>
</div>
{% endblock %}